<!-- <div class="row justify-content-center mt-4">
</div>
<div class="row justify-content-center mt-4"> -->
    <!-- <div class="col">
    </div> -->
    <!-- <div class="col">
      <form method="POST" action="/">
        <p class="d-inline"></p>
        <div class="form-check form-check-inline">
          <input class="form-check-input" onchange="submit();" type="checkbox" id="checkbox" name="t-shirt" value="T-Shirt" checked>
          <label class="form-check-label" for="t-shirt">T-Shirt</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" onchange="submit();" type="checkbox" id="checkbox" name="sweater" value="Sweater" checked>
          <label class="form-check-label" for="sweater">Sweater</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" onchange="submit();" type="checkbox" id="checkbox" name="kemeja" value="Kemeja" checked>
          <label class="form-check-label" for="kemeja">Kemeja</label>
        </div> -->
        <!-- <div class="d-inline">
          <button type="submit" class="btn btn-success">Filter</button>
        </div> -->
      <!-- </form>
    </div>
</div>
<hr> -->
<div class="row justify-content-start mt-5 mb-5">
  <% data.forEach(produk => { %>
    <div class="col-3 mb-4">
      <a href="/<%= produk.nama %>" style="text-decoration: none;">
        <div class="card" style="width: 16rem;">
          <img src="<%= produk.gambar %>" class="card-img-top" alt="produk.img" style="height: 250px;">
          <div class="card-body">
            <h6 class="card-title text-secondary"><%= produk.nama %></h6>
            <h7 class="card-subtitle mb-2 text-muted"><%= produk.kategori %></h7>
            <p class="card-text" style="color: black">Rp. <%= produk.harga.toLocaleString() %></p>
            <!-- <form action="/produk/<%= produk.produkId %>" method="POST">
              <button type="submit" class="btn btn-outline-danger" onclick="return confirm('Anda yakin?')">Hapus Produk</button>
            </form> -->
          </div>
        </div>
      </a>
    </div>
  <% }) %>
</div>